<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @vehicle.mileage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @vehicle.transmission %>
</p>

<p>
  <strong>Cylinders:</strong>
  <%= @vehicle.cylinders %>
</p>

<p>
  <strong>Drivetrain:</strong>
  <%= @vehicle.drivetrain %>
</p>

<p>
  <strong>Body type:</strong>
  <%= @vehicle.body_type %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @vehicle.fuel_type %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @vehicle.body_style %>
</p>

<p>
  <strong>Title in:</strong>
  <%= @vehicle.title_in %>
</p>

<p>
  <strong>Mileage is:</strong>
  <%= @vehicle.mileage_is %>
</p>

<p>
  <strong>New used:</strong>
  <%= @vehicle.new_used %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @vehicle.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @vehicle.interior_color %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @vehicle.trim %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @vehicle.doors %>
</p>

<p>
  <strong>Inventory source:</strong>
  <%= @vehicle.inventory_source %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>

<p>
  <strong>Highway mpg:</strong>
  <%= @vehicle.highway_mpg %>
</p>

<p>
  <strong>Wheels:</strong>
  <%= @vehicle.wheels %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.condition %>
</p>

<p>
  <strong>Tag number:</strong>
  <%= @vehicle.tag_number %>
</p>

<p>
  <strong>Photos taken:</strong>
  <%= @vehicle.photos_taken %>
</p>

<p>
  <strong>Active:</strong>
  <%= @vehicle.active %>
</p>

<p>
  <strong>Options:</strong>
  <%= @vehicle.options %>
</p>

<p>
  <strong>City mpg:</strong>
  <%= @vehicle.city_mpg %>
</p>

<p>
  <strong>Nada wholesale:</strong>
  <%= @vehicle.nada_wholesale %>
</p>

<p>
  <strong>Nada retail:</strong>
  <%= @vehicle.nada_retail %>
</p>

<p>
  <strong>Sale status:</strong>
  <%= @vehicle.sale_status %>
</p>

<p>
  <strong>Est recond cost:</strong>
  <%= @vehicle.est_recond_cost %>
</p>

<p>
  <strong>Age:</strong>
  <%= @vehicle.age %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @vehicle.comments %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
